<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36979899464-2aampep3eqs540hu3gn5ednkctko4pif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36979899464-2aampep3eqs540hu3gn5ednkctko4pif</string>
	<key>API_KEY</key>
	<string>AIzaSyBVG0pigjCROtVQCmERxlMZr4AAyY5kN9g</string>
	<key>GCM_SENDER_ID</key>
	<string>36979899464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>scuba-diving-71b43</string>
	<key>STORAGE_BUCKET</key>
	<string>scuba-diving-71b43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36979899464:ios:2e23eef7db3e868d476c7d</string>
	<key>DATABASE_URL</key>
	<string>https://scuba-diving-71b43-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>